body{
    
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url(../img/download.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    
    
}
.qeyd{
    color: aliceblue;
}
h1{
    color: aliceblue;
    size: 100px;
    text-align: center;
    text-transform:capitalize ;
    text-decoration-line: underline;
    text-decoration-style:  wavy ;
    text-decoration-color: red ;
    text-decoration: none;
    text-indent: 20px ;
}
.bas{
    margin: 30px;
    padding: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: dashed;
    font-size:60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform:capitalize ;
    text-indent: 20px ;
    text-shadow: 5px 5px 5px rgb(61, 61, 61);
}